<h1>Matrix Lanhouse Administração</h1>
<%= link_to "Painel Principal", new_slider_path %>
<%= link_to "Serviços", new_service_path %> 
<%= link_to "estrutura e historia da empresa", new_structure_path %>


