<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Contate nos</h1>
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
    
    <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center bigger-text">
            <p>Entre em contato com a gente! Tire todas as suas duvidas sobre nossos serviços, preços, produtos e jogos.
            Mande elogios, criticas e sugestoes sobre o nosso site.
            .</p>
        </div>
        <div class="col-md-6 col-sm-6">
            <div id="map"></div>
        </div> <!-- /.col-md-6 -->
        <div class="col-md-6 col-sm-6">
            <div class="row contact-form">
                    
                        <fieldset class="col-md-6 col-sm-6">
                            <input id="name" type="text" name="name" placeholder="Nome">
                        </fieldset>
                        <fieldset class="col-md-6 col-sm-6">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </fieldset>
                        <fieldset class="col-md-12">
                            <input type="text" name="subject" id="subject" placeholder="Assunto">
                        </fieldset>
                        <fieldset class="col-md-12">
                            <textarea name="comments" id="comments" placeholder="Menssagem"></textarea>
                        </fieldset>
                        <fieldset class="col-md-12">
                            <input type="submit" name="send" value="Enviar Mensagem" id="submit" class="button">
                        </fieldset>
                     
                    </div> <!-- /.contact-form -->
                    
                </div> <!-- /.col-md-6 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->