<div class="col-md-3 col-sm-6">
    <div class="product-item">
        <div class="item-thumb">
            <span class="note">Rede</span>
            <!-- <div class="overlay">
                <div class="overlay-inner">
                    <a href="#nogo" class="view-detail">Add to Cart</a>
                </div>
            </div> --> <!-- /.overlay -->
            <img src="images/products/product1.jpg" alt="">
        </div> <!-- /.item-thumb -->
        <h3>Counter Strike 1.6</h3>
        <!-- <span>Price: <em class="text-muted">$260.00</em> - <em class="price">$180.00</em></span> -->
    </div> <!-- /.product-item -->
</div> <!-- /.col-md-3 -->
